@charset "utf-8";
/* CSS Document */

body {
	background-color: darkorange;
}
header {
	background-color: yellow;
	text-align: center;
	padding: 1px;
    
		
    
}

img {
	float:left;
	padding-right: 15px;
	width: 30%;
	background-color: darkorange;
}

article {
	background-color: navajowhite;
}
p {
	color: black;
	font-size: 18px;
}
footer {
	background-color: black;
	color: white;

}